@page "/login"
@using WebAuth.Client.Models.Login
@using WebAuth.Client.Components
@using WebAuth.Client.Services

@inject ILoginService LoginService
@inject NavigationManager NavigationManager

<PageTitle>Login</PageTitle>

<h1>Login</h1>

<EditForm Model="@_userLogin" OnValidSubmit="@HandleValidSubmit">
    <CustomValidation @ref="_customValidation" />
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="mb-3">
        <InputText class="form-control" id="Email" @bind-Value="_userLogin.Email" placeholder="Email"/>
    </div>
    <div class="mb-3">
        <InputText class="form-control" id="Password" @bind-Value="_userLogin.Password" placeholder="Password"/>
    </div>

    @if(_loggingIn)
    {
        <p>Logging in...</p>
    }
    else
    {
        <button class="btn btn-primary" type="submit">Submit</button>
    }

</EditForm>

@code{
    private UserLogin _userLogin = new();
    private CustomValidation? _customValidation;
    private bool _loggingIn;

    private async Task HandleValidSubmit()
    {
        _loggingIn = false;

        var result = await LoginService.Login(_userLogin);

        if(result!.Succeeded)
        {
            NavigationManager.NavigateTo("Index");
        }
        else
        {
            _customValidation?.ClearErrors();

            var errors = new Dictionary<string, List<string>>();
            errors.Add(string.Empty, new List<string>{ result.Message! });

            _customValidation?.DisplayErrors(errors);
        }

        _loggingIn = false;
    }
}